---
layout: layouts/page.njk
hero: https://lil-cdn.com/585273/computing-floating-apps-226149059.jpg
tags:
  - nav
navtitle: Software
iconclass: fas fa-graduation-cap
permalink: /software/
eleventyNavigation:
  key: software
  parent: main
  order: 3
---
<table class='table-bordered'>
    <tr>
        <th>Name</th>
        <th>GitHub</th>
        <th>License</th>
        <th>Download</th>
    </tr>
    <tr>
        <td>TravBot-v3</td>
        <td><a href="https://github.com/keanuplayz/TravBot-v3">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/TravBot-v3/blob/master/LICENSE">MIT License</a></td>
        <td><a href="https://github.com/keanuplayz/TravBot-v3/archive/typescript.zip">GitHub</a></td>
    </tr>
    <tr>
        <td>TravBot</td>
        <td><a href="https://github.com/keanuplayz/TravBot">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/TravBot/blob/master/LICENSE">GPL-3.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/TravBot/archive/dev.zip">GitHub</a></td>
    </tr>
    <tr>
        <td>TravBot.py</td>
        <td><a href="https://github.com/TKLProjects/TravBot.py">GitHub Repository</a></td>
        <td><a href="https://github.com/TKLProjects/TravBot.py/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/TKLProjects/TravBot.py/archive/master.zip">GitHub</a></td>
    </tr>
    <tr>
        <td>Discord-AutoReply</td>
        <td><a href="https://github.com/keanuplayz/Discord-AutoReply">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/Discord-AutoReply/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/Discord-AutoReply/archive/master.zip">GitHub</a></td>
    </tr>
    <tr>
        <td>discord-selfbot-fixed</td>
        <td><a href="https://github.com/keanuplayz/discord-selfbot-fixed">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/discord-selfbot-fixed/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/discord-selfbot-fixed/archive/master.zip">GitHub</a></td>
    </tr>
    <tr>
        <td>bot-panel</td>
        <td><a href="https://github.com/keanuplayz/bot-panel">GitHub Repository</a></td>
        <td>n/a</td>
        <td><a href="https://github.com/keanuplayz/bot-panel/releases">1.0.0</a></td>
    </tr>
    <tr>
        <td>grocery-react</td>
        <td><a href="https://github.com/keanuplayz/grocery-react">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/grocery-react/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/grocery-react/releases">1.0.0</a></td>
    </tr>
    <tr>
        <td>RemoveBlockedMessages</td>
        <td>n/a</td>
        <td>n/a</td>
        <td><a href="../files/RemoveBlockedMessages.plugin.js" download>KeanuCode</a></td>
    </tr>
    <tr>
        <td>Flipbook-Electron</td>
        <td><a href="https://github.com/keanuplayz/Flipbook-Electron">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/Flipbook-Electron/blob/master/LICENSE">MIT License</a></td>
        <td><a href="http://https://github.com/keanuplayz/Flipbook-Electron/releases">1.0.0</a></td>
    </tr>
    <tr>
        <td>initrepo</td>
        <td><a href="https://github.com/keanuplayz/initrepo">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/initrepo/blob/master/LICENSE">MIT License</a></td>
        <td><a href="https://www.npmjs.com/package/@keanucode/initrepo">NPM Package</a></td>
    </tr>
    <tr>
        <td>initpkg</td>
        <td><a href="https://github.com/keanuplayz/initpkg">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/initpkg/blob/master/LICENSE">MIT License</a></td>
        <td><a href="https://www.npmjs.com/package/initpkg">NPM Package</a></td>
    </tr>
    <tr>
        <td>EmoteRouter</td>
        <td><a href="https://github.com/keanuplayz/EmoteRouter">GitHub Repository</a></td>
        <td>n/a</td>
        <td><a href="https://github.com/keanuplayz/EmoteRouter/archive/master.zip">master</a></td>
    </tr>
    <tr>
        <td>arduino</td>
        <td><a href="https://github.com/keanuplayz/arduino">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/arduino/blob/redgreen-flash/LICENSE">Apache-2.0 License</a></td>
        <td>n/a</td>
    </tr>
    <tr>
        <td>trave-py</td>
        <td><a href="https://github.com/keanuplayz/trave-py">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/trave-py/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/trave-py/archive/master.zip">master</a></td>
    </tr>
    <tr>
        <td>Fibonacci-Python</td>
        <td><a href="https://github.com/keanuplayz/Fibonacci-Python">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/Fibonacci-Python/blob/loop/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/Fibonacci-Python/releases">1.0.0</a></td>
    </tr>
    <tr>
        <td>HalloHans-Python</td>
        <td><a href="https://github.com/keanuplayz/HalloHans-Python">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/HalloHans-Python/blob/opdracht-1/LICENSE">Apache-2.0 License</a></td>
        <td>n/a</td>
    </tr>
    <tr>
        <td>Palindrome-Checker</td>
        <td><a href="https://github.com/keanuplayz/Palindrome-Checker">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/Palindrome-Checker/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/Palindrome-Checker/archive/master.zip">master</a></td>
    </tr>
    <tr>
        <td>r34-explorer</td>
        <td><a href="https://github.com/keanuplayz/r34-explorer">GitHub Repository</a></td>
        <td><a href="https://github.com/keanuplayz/r34-explorer/blob/master/LICENSE">Apache-2.0 License</a></td>
        <td><a href="https://github.com/keanuplayz/r34-explorer/archive/master.zip">master</a></td>
    </tr>
</table>